 * {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
 html{
   scroll-behavior: smooth;
 }
 body {
   
 }
 .special-heading {
   color: var(--secondary-color);
   text-align: center;
   font-size: 5em;
   margin: 0;
   letter-spacing: -2px;
   font-weight: 800;
 }
 .special-heading + p {
   margin: -30px 0 0;
   text-align: center;
   color: #777;
   font-weight: 500;
 }
 :root {
   --main-color: #00A992;
   --secondary-color: #ebeced;
 }
 header {
   width: 100%;
   height: 40px;
   background-color: #fff;
   padding-top: 5px;
}
 header .parent .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-inline: auto;
   padding-inline: 10px;
 }
 header .parent .container img {
   width: 80px;
   
 }
 header .parent .container .links {
   position: relative;
   margin-top: 5px;

 }
 header .parent .container .links .icon {
   width: 30px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row-reverse
 }
 header .links .icon span {
   background-color: #333;
   margin-bottom: 5px;
   width: 100%;
   height: 2px;
 }
 header .links .icon span:nth-child(2) {
   width: 60%;
   transition: 0.3s;
 }
 header .links .icon span:nth-child(2):hover {
   width: 100%;
 }
 header .links .icon span:last-child {
   height: 2px;
 }
 header .links ul {
   list-style: none;
   margin: 0;
   padding: 0;
   background-color: hsla(235, 0%, 84%, 1);
   position: absolute;
   right: 0;
   top: calc(100% + 10px);
   min-width: 200px;
   display: none;
   z-index: 1;
 }
 header .links:hover ul {
   display: block;
 }  
 header .links ul li {
   padding: 5px;
 }
 header .links ul:before {
   content:'';
   border-width: 10px;
   border-style: solid;
   border-color: transparent transparent hsla(235, 0%, 84%, 1) transparent; 
   position: absolute;
   right: 5px;
   top: -20px;
   
}
 header .links ul li a {
   display: block;
   text-decoration: none;
   color: #333;
   transition: 0.3s;
 }
 header .links ul li a:hover {
   padding-left: 15px;
 }
 header .links ul li:not(:last-child){
   border-bottom: 1px solid #BCBCBC;
 }
 
  /* small */
 @media (min-width: 576px) { 
  .container {
  width: 500px;
 }
 }
 /* medium */
@media (min-width: 768px) { 
  .container {
    width: 750px;
  }
}
 /* large */
@media (min-width: 992px) { 
  .container {
  width: 900px;
}
}
 /* extra large */
@media (min-width: 1200px) { 
  .container {
  width: 800px;
}
}
.landing {
  background-image: url(intro.jpg);
  background-size: cover;
  height: calc(100vh - 40px);
}
/* small */
 @media (max-width: 576px) { 
  .landing {
   background-position: center
  }
  .landing .intro h1 {
  position: absolute;
  top: -210%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 320px;
  max-width: 10
 }
 }
 /* end media qwery */
.landing .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
  }
.landing .intro h1 {
  margin: 10px;
  color: #00A992;
  font-size: clamp(30px,50px,60px);
}

.landing .intro p {
  font-size: 18px;
  line-height: 20px;
}
/* features */
.features {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-inline: auto;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  grid-gap: 10px;
}
.features .feat {
  padding: 20px;
  text-align: center;
  line-height: 1.8;
}
.features .feat i {
  color: var(--main-color);
  font-size: 30px
}
.features .feat h3 {
  font-weight: 800;
}
.services {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-inline: auto;
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  padding-top: 60px;


}
.services .services-content .srv {
  display: flex;
  margin-bottom: 20px;
  
}
@media (max-width: 576px) {
  .services .services-content .srv  {
    flex-direction: column;
    text-align: center;
  }
}
.srv i {
  flex-basis: 30px;
  color: var(--main-color);
}
.services-content .srv .text {
  flex: 1
}
.services-content .srv .text h3 {
  margin: 0 0 10px 0;
}
.services-content .srv .text p {
  color: #777;
  font-weight: 300;
}
.services img {
  width: 90%;
  position: relative;
}
.services .image {
  position: relative;
}
 @media (max-width: 576px) { 
  .services .image {
    width: 250px;
    margin-inline: auto;
    margin-top:10px
  }
  }

.services .image::before {
  content: "";
  width: 20%;
  height: 110%;
  background-color: var(--main-color);
  position: absolute;
  top: -10px;
  right: 0px;
}